<br>
<br>
<div>
  <p *ngIf="defaultShippingSet">Default shipping set successfully!</p>
  <md-tab-group>
    <md-tab label="List of Shipping Addresses">
      <form (ngSubmit)="setDefaultShipping()">
        <table class="table">
          <thead>
          <tr>
            <th>Default</th>
            <th>Shipping Address</th>
            <th>Operations</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let userShipping of userShippingList">
            <td>
              <input type="radio" name="defaultUserShippingId" [(ngModel)]="defaultUserShippingId" [value]="userShipping.id" />
              <span>default</span>
            </td>
            <td>{{userShipping.userShippingStreet1}}, {{userShipping.userShippingStreetCity}}, {{userShipping.userShippingState}}</td>
            <td>
              <a md-button (click)="onUpdateShipping(userShipping)"><i class="fa fa-pencil"></i></a>
              <a md-button (click)="onRemoveShipping(userShipping.id)"><i class="fa fa-times"></i></a>
            </td>
          </tr>
          </tbody>
        </table>
        <button md-raised-button class="mat-primary" type="submit">Save</button>
      </form>
    </md-tab>
    <md-tab label="Add(Update) Shipping Address">
      <form (ngSubmit)="onNewShipping()" method="post">
        <div class="bg-info" *ngIf="updateUserShippingInfo">User info updated.</div>
        <input hidden="hidden" name="id" [(ngModel)]="userShipping.id" />
        <div class="form-group">
          <label for="shippingname">* Name</label>
          <input type="text" class="form-control" id="shippingName" placeholder="Receiver Name" name="userShippingName" required="required" [(ngModel)]="userShipping.userShippingName" />
        </div>
        <div class="form-group">
          <label for="shippingAddress">* Street Address</label>
          <input type="text" class="form-control" id="shippingAddress" placeholder="Street Address 1" name="userShippingStreet1" required="required" [(ngModel)]="userShipping.userShippingStreet1" />
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Street Address 2" name="userShippingStreet2" [(ngModel)]="userShipping.userShippingStreet2" />
        </div>
        <div class="row">
          <div class="col-xs-4">
            <div class="form-group">
              <label for="shippingCity">* City</label>
              <input type="text" class="form-control" id="shippingCity" placeholder="Your Shipping City" name="userShippingCity" required="required" [(ngModel)]="userShipping.userShippingCity" />
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <label for="shippingState">* State</label>
              <select id="shippingState" class="form-control" name="userShippingState" [(ngModel)]="userShipping.userShippingState" required="required">
                <option value="" disabled>-- state --</option>
                <option *ngFor="let state of stateList">{{state}}</option>
              </select>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <label for="userShippingZipcode">* Zipcode</label>
              <input type="text" class="form-control" id="userShippingZipcode" placeholder="Zipcode" name="userShippingZipcode" required="required" [(ngModel)]="userShipping.userShippingZipcode" />
            </div>
          </div>
        </div>
        <hr />
        <button md-raised-button type="submit" class="mat-primary">
          Save All
        </button>
      </form>
    </md-tab>
  </md-tab-group>
</div>
