<div class="panel panel-default ">
  <div class="panel-heading ">
    <h4 class="panel-title ">
      1. Shipping Address
    </h4>
  </div>
  <div class="panel-body ">
    <table class="table " *ngIf="!emptyShippingList ">
      <thead>
      <tr>
        <th>Available Shipping Address</th>
        <th>Operations</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let userShipping of userShippingList ">
        <td>
          {{userShipping.userShippingStreet1}}, {{userShipping.userShippingStreet2}}, {{userShipping.userShippingCity}}, {{userShipping.userShippingState}}
        </td>
        <td>
          <a class="pointer" (click)="setShippingAddress(userShipping) ">use this address</a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="form-group ">
      <label for="shippingName ">* Name</label>
      <input type="text " class="form-control " id="shippingName " placeholder="Recevier Name " name="shippingAddressName " [(ngModel)]="shippingAddress.shippingAddressName " />
    </div>
    <div class="form-group ">
      <label for="shippingAddress ">* Street Address</label>
      <input type="text " class="form-control " id="shippingAddress " placeholder="Street Address 1 " name="shippingAddressStreet1 " [(ngModel)]="shippingAddress.shippingAddressStreet1 " />
    </div>
    <div class="form-group ">
      <input type="text " class="form-control " placeholder="Street Address 2 " name="shippingAddressStreet2 " [(ngModel)]="shippingAddress.shippingAddressStreet2 " />
    </div>
    <div class="row ">
      <div class="col-xs-4 ">
        <div class="form-group ">
          <label for="shippingCity ">* City</label>
          <input type="text " class="form-control " id="shippingCity " placeholder="Your City " name="shippingAddressCity " [(ngModel)]="shippingAddress.shippingAddressCity " />
        </div>
      </div>
      <div class="col-xs-4 ">
        <div class="form-group ">
          <label for="shippingState ">* State</label>
          <select id="shippingState " class="form-control " name="shippingAddressState " [(ngModel)]="shippingAddress.shippingAddressState ">
            <option value="" disabled>-- state --</option>
            <option *ngFor="let state of stateList ">{{state}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-xs-4 ">
        <div class="form-group ">
          <label for="shippingZipcode ">* Zipcode</label>
          <input type="text " class="form-control " id="shippingZipcode " placeholder="Zipcode " name="shippingAddressZipcode " [(ngModel)]="shippingAddress.shippingAddressZipcode " />
        </div>
      </div>
    </div>
    <a md-raised-button class="mat-primary" (click)="goToPayment()">Next</a>
  </div>
</div>
